@font-face {
	font-family: 'Digital-7'; 
	src: url(digital-7.ttf); 
}

*{
	font-family: 'Digital-7';
}

body{
	display: flex;
	background: url(img/christmas-1911637__340.jpg) no-repeat center;
	background-size: cover;
}

.row-center{
	display: flex;
	margin: auto;
	margin-top: 15%;
}

.time{
	display: flex;
	background-color: #805D4F;
	height: 150px;
	width: 150px;
	margin: 0 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px;
}

.time h1{
	height: 72px;
	width: 72px;
	font-size: 72px;
	margin: auto;
}

.between-time{
	height: 36px;
	font-size: 36px;
}